<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863675084155-244b5a9joc37mp424c0mvjnbjv1mlock.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863675084155-244b5a9joc37mp424c0mvjnbjv1mlock</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>863675084155-hoqj8mrmtdt2v2f4umm5n3b8vv8bndr3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1kq3qqpwtR-1ijLW6qyXnKM7Ci5r1y3o</string>
	<key>GCM_SENDER_ID</key>
	<string>863675084155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajmal.threadsApp</string>
	<key>PROJECT_ID</key>
	<string>chatify-c485c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-c485c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863675084155:ios:2902628747fb5b9b04a1de</string>
</dict>
</plist>